.backGround {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../images/backGround.jpeg");
  margin: 0;
  padding: 0;
}
